<md-autocomplete
  md-no-cache="true"
  md-selected-item="vm.selectedItem"
  md-search-text-change="vm.searchTextChange(vm.searchText)"
  md-search-text="vm.searchText"
  md-selected-item-change="vm.selectedItemChange(item)"
  md-items="item in vm.querySearch(vm.searchText)"
  md-item-text="item.city_name"
  md-min-length="3"
  md-floating-label="{{'W3_INPUT_CITY.LABEL_REQ'|translate}}"
  md-menu-class="autocomplete-custom-template"
  class="w3-input-city"
  ng-required="true"
  >
  <md-item-template>
    <span class="item-title">
           <!-- <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon> -->
           <span> {{item.city_name}} </span>
    </span>
    <span class="item-metadata">
           <span class="item-metastat">
             {{item.state.state_name}} - {{item.state.country.country_name}}
           </span>
    </span>
  </md-item-template>
  <md-not-found>
    <span translate="W3_INPUT_CITY.NOT_FOUND">Nenhuma cidade encontrada</span>
    <span ng-if="vm.openCreate" ng-click="vm.showCreateCity($event)"  translate="W3_INPUT_CITY.ADD_NOVO">Novo</span>
  </md-not-found>
</md-autocomplete>
