<div layout="row" layout-align="space-between center">
    <span flex class="md-subhead">Eu quero resultados de:</span>
    <div layout="row" >
        <md-input-container class="w-145">
            <label>Data</label>
            <md-select ng-model="vm.dt_column">
                <md-option ng-value="opt.param" ng-repeat="opt in vm.optionsTypeFilter|orderBy:'label'">{{opt.label}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Início:</label>
            <input type="date" ng-model="vm.dt_start"/>
        </md-input-container>
        <md-input-container>
            <label>Fim:</label>
            <input type="date" ng-model="vm.dt_end"/>
        </md-input-container>
    </div>
</div>
<section class="w3-report-date-buttons" flex layout="row" layout-sm="column" layout-align-gt-sm="start center">
    <md-button class="md-accent" ng-click="vm.setFilter(op)" ng-repeat="op in vm.optionsFilter">{{op.label}}</md-button>
</section>
