<div class="file-uploud" layout="column" layout-align="center center">

  <img ng-click="vm.showpicker($event)" ng-src="{{vm.pathSrc|| 'app/external/w3/components/w3-uploud/file-image.png'}}" /> <br />

  <md-button  type="button" class="md-raised btn-icon-text" ng-click="vm.showpicker($event)">
    <i class="icon icon-picture"></i> Alterar imagem
  </md-button>

</div>
