<md-dialog aria-label="Carregar arquivos" class="file-uploud-dialog md-dialog-600">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modal.title}}</h2>
        <span flex></span>
        <md-button  type="button" class="md-icon-button" ng-click="modal.close()" aria-label="Fechar file uploud">
          <i class="icon icon-close s32 white-text"></i>
        </md-button>
      </div>
      <md-progress-linear ng-if="modal.file" md-mode="determinate" value="{{modal.file.progress}}"></md-progress-linear>
    </md-toolbar>
    <md-dialog-content class="pd-b-0">


      <div class="file-uploud-drop">
        <div layout="column">
          <div class="drop-box drop-dashed" layout="row" layout-align="center center" ng-model="modal.file"
          ngf-drop ngf-select ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'" ngf-max-size="10MB">

            <img ngf-thumbnail="modal.file" class="image-picker" width="150" />

            <div ng-hide="modal.file">
              <i class="icon icon-cloud-upload s30 margin-r8"></i>
              <span>
                Soltar arquivos para anexar, ou clique aqui para <a>procurar.</a>
              </span>
            </div>

          </div>
          <small>O tamanho máximo de envio é de 6MB por arquivo.</small>
          <div ngf-no-file-drop>Seu navegador não suporta esse método de upload de arquivo</div>
        </div>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button  type="button" ng-disabled="!modal.pathSrc" ng-click="modal.clean()" style="margin-right:0" class="md-warn" aria-label="Uploud de imagens">
        Remover imagem
      </md-button>
      <span flex></span>
      <md-button  type="button" ng-click="modal.close()" class="md-raised orange-800-fg" aria-label="Fechar file uploud">
        Cancelar
      </md-button>
      <md-button  ng-disabled="!modal.file" ng-click="modal.upload()" style="margin-right:0" class="md-raised md-accent" aria-label="Uploud de imagens">
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
