<form>
    <div class="file-uploud-drop">

        <div layout="column" >
            <div class="drop-box drop-dashed" layout="row" layout-align="center center" ngf-drop="vm.addFiles($files)" ngf-select="vm.addFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'*/*'">
                <i class="icon icon-cloud-upload s30 margin-r8"></i> 
                <span> Soltar arquivos para anexar, ou clique aqui para
                    <a>procurar.</a>
                </span>
            </div>
            <small class="padding-l8">O tamanho máximo de envio é de 6MB por arquivo.</small>
            <div ngf-no-file-drop>Seu navegador não suporta esse método de upload de arquivo</div>
        </div>


        <div class="list-itens-uploud" layout="column">
            <div class="item-ulpoud" layout="row" layout-xs="column" flex ng-repeat="file in vm.files">
                <div class="bg-item-image">
                    <img ngf-thumbnail="file" width="50">
                </div>
                <div flex layout="row">
                    <div flex class="padding-l8 padding-t8">
                        <div layout="row">
                            <span class="trunk" flex>{{file.name}}</span>
                            <span class="padding-l8">{{file.size|w3FileSize:1}}</span>
                        </div>
                        <md-progress-linear md-mode="determinate" value="{{file.progress}}"></md-progress-linear>
                    </div>
                    <md-button  type="button" aria-label="Remove arquivo selecionado" ng-click="vm.removeFiles($index)" class="md-icon-button">
                        <i class="icon icon-close s32"></i>
                    </md-button>
                </div>
            </div>
        </div>

        <!-- <div layout="column" layout-gt-xs="row">
                <span flex flex-gt-sm="30">Comentário</span>
                <div flex flex-gt-sm="70" layout="row" layout-align="center center">
                    <textarea class="comentarios" cols="5"></textarea>
                </div>
            </div> -->

        <md-dialog-actions ng-if="vm.files.length" layout="row">
            <span flex></span>
            <md-button  type="button" ng-click="vm.reset()" class="md-raised orange-800-fg" aria-label="Fechar file uploud">
                Cancelar
            </md-button>
            <md-button  type="button" ng-click="vm.upload()" style="margin-right:0" class="md-deep-purple-500-bg" aria-label="Uploud de imagens">
                <i class="icon icon-cloud-upload s20 margin-r8 white-text"></i>  Uploud
            </md-button>
        </md-dialog-actions>
    </div>
</form>
